build
ProjectPlus.xcodeproj/xcuserdata/markhuot.*
ProjectPlus.xcodeproj/project.xcworkspace/xcuserdata/markhuot.*
ProjectPlus.xcodeproj/xcuserdata/matt.*
ProjectPlus.xcodeproj/project.xcworkspace/xcuserdata/matt.*
*.tmproj
.DS_Store
dsa_priv.pem
